html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: skyblue;
}

h1 {
    background-color: burlywood;
    outline: 2px red solid;
}

#test {
    background-color: aquamarine;
}